.hero-unit
  h1 #{event.name}
  p
    | #{event.date}
  p
    | #{event.time}
  - if (event.host.equals(user._id))
    p
      a.btn(href='/deleteEvent/#{event._id}').btn-primary.btn-large Delete
      &nbsp;
      a.btn(href='').btn-primary.btn-large Start
  - else
    - if (event.attendees.indexOf(user._id) != -1)
      p
        a.btn(href='').btn-primary.btn-large Join        
    - else
      p
        | Reserve Your Spot for 5 Euros!
      p
        a(href='/attendEvent/#{event._id}')
          img(src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif', align='left', style='margin-right:7px;')
    