.hero-unit
  h1 #{event.name}
  p
    | #{event.date}
  p
    | #{event.time}
  - if (user._id.equals(event.host))
    p
      a.btn(href='/deleteEvent/#{event._id}').btn-primary.btn-large Delete
      &nbsp;
      a.btn(href='').btn-primary.btn-large Start
  - else
    - if (event.attendees.indexOf(user._id) != -1)
      p
        a.btn(href='').btn-primary.btn-large Join        
    - else
      p
        a.btn(href='/attendEvent/#{event._id}').btn-primary.btn-large Reserve Your Spot!
    