.hero-unit
  h1 #{title}
  p
    | Need help with your stuff? Book into one of our Q&A events!
  - each event in events
    - if (everyauth.loggedIn)
      - if (event.host.equals(user._id))
        .event-list-item-host
          h2 #{event.name}
          p
            | #{event.description}
          p
            | #{event.date}
          p
            | #{event.time}
          p
            a.btn(href='/event/#{event._id}').btn-primary.btn-large Details
      - else if (event.attendees.indexOf(user._id) != -1)
        .event-list-item-attendee
          h2 #{event.name}
          p
            | #{event.description}
          p
            | #{event.date}
          p
            | #{event.time}
          p
            a.btn(href='/event/#{event._id}').btn-primary.btn-large Details
      - else
        .event-list-item
          h2 #{event.name}
          p
            | #{event.description}
          p
            | #{event.date}
          p
            | #{event.time}
          p
            a.btn(href='/event/#{event._id}').btn-primary.btn-large Details
    - else
      .event-list-item
        h2 #{event.name}
        p
          | #{event.description}
        p
          | #{event.date}
        p
          | #{event.time}
    