.hero-unit
  h1 #{title}
  p
    | Need help with your stuff? Book into one of our Q&A events!
  ul.thumbnails
    - each event in events
      li.span3
        - if (everyauth.loggedIn)
          - if (event.host.equals(user._id))
            .thumbnail.event-list-thumbnail-host
              img(src='http://placehold.it/260x180', alt='')
              p #{event.name}
              h5 #{event.description}

              //img(src='https://si0.twimg.com/profile_images/943551175/me_as_frankenstein_2009_normal.jpg')
              //h5 Host: Matt Feigal

              

              h5 #{event.date} , #{event.time}
              h5 #{event.attendees.length} people attending

              -if (everyauth.loggedIn)
                a.btn(href='/event/#{event._id}').btn-primary.btn-large Details
          - else
            .thumbnail.event-list-thumbnail
              img(src='http://placehold.it/260x180', alt='')
              p #{event.name}
              h5 #{event.description}
              h5 #{event.date} , #{event.time}
              h5 #{event.attendees.length} people attending

              -if (everyauth.loggedIn)
                a.btn(href='/event/#{event._id}').btn-primary.btn-large Details


        - else
          .thumbnail.event-list-thumbnail
            img(src='http://placehold.it/260x180', alt='')
            p #{event.name}
            h5 #{event.description}
            h5 #{event.date} , #{event.time}
            h5 #{event.attendees.length} people attending

            -if (everyauth.loggedIn)
              a.btn(href='/event/#{event._id}').btn-primary.btn-large Details
        
      
      //TODO: clean up those jade thumbnail blocks, no copy-pasting code!
