.hero-unit
  h1 #{title}
  p
    | Need help with your stuff? Book into one of our Q&A events!
  - each event in events
    .event-list-item
      h2 #{event.name}
      p
        | #{event.date}
      p
        | #{event.time}
      - if (everyauth.loggedIn)
        - if (user._id == event.host)
          p
            a.btn(href='/event/#{event._id}').btn-primary.btn-large View
        - else
          p
            a.btn(href='/event/#{event._id}').btn-primary.btn-large View
