- if (event.date)
  script
    $(function() {
      $('#date}').text($.format.date((new Date(#{event.date.valueOf()})), 'dd-MMM-yyyy hh:mm a'));
    });
.hero-unit
  h1 #{event.name}
  p
    img(src='/event/#{event._id}/image', width='260')
  p
    | #{event.description}
  p(id='date')
    | No date and time!
  p
  - if (event.host.equals(user._id))
    p
      a(href='#{googleHangoutUrl}?authuser=0&gid=#{googleProjectId}&gd=#{event._id}', target='new')
        img(src='https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-60x230-normal.png', alt='Start your Hangout')
    p
      a.btn(href='/deleteEvent/#{event._id}').btn-primary.btn-large Delete
  - else
    - var attendee = event.getAttendee(user);
    - if (attendee != null)
      - if (attendee.confirmed)
        - if (event.hangout)
          p
            a(href='#{event.hangout}', target='new')
              img(src='https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-60x230-normal.png', alt='Join the Hangout')
        - else
          p
            | Your payment is confirmed (Thank you!), now waiting for hangout to start
      - else
        p
          | Your spot has been reserved, now waiting for payment confirmation
    - else
      - if (event.attendees.length < maximumAttendees)
        p
          | Reserve Your Spot for 5 Euros!
        p
          a(href='/attendEvent/#{event._id}/#{user._id}')
            img(src='#{paypalUrl}/en_US/i/btn/btn_xpressCheckout.gif', align='left', style='margin-right:7px;')
      - else
        p
          | Event Full!
