extends layout
block mainContent
  img(src='/img/5live_plain_07.png')
  p
    | Learn anything, anywhere - from anyone. LIVE for $5 or less
  ul.nav.nav-tabs
    li.active
      a(href='#upcomingEvents', data-toggle='tab') Upcoming events
    li
      a(href='#pastEvents', data-toggle='tab') Past events
  .tab-content
    .tab-pane.active(id='upcomingEvents')
      ul.thumbnails
        - each event in upcomingEvents
          - if (event.date)      
            script
              $(function() {
                $('#date#{event._id}').text($.format.date((new Date(#{event.date.valueOf()})), 'dd-MMM-yyyy hh:mm a'));
              });
          li.span3
            - if (everyauth.loggedIn)
              - if (event.host.equals(everyauth.user._id))
                .thumbnail.event-list-thumbnail-host
                  a(href='/event/#{event._id}')
                    img(src='/event/#{event._id}/image', alt='', width='260')
                  p
                    a(href='/event/#{event._id}') #{event.name}
                  h5 #{event.description}
                  h5(id='date#{event._id}') No date and time!
                  h5 #{event.attendees.length} people attending
              - else
                .thumbnail.event-list-thumbnail
                  a(href='/event/#{event._id}')
                    img(src='/event/#{event._id}/image', alt='', width='260')
                  p
                    a(href='/event/#{event._id}') #{event.name}
                  h5 #{event.description}
                  h5(id='date#{event._id}') No date and time!
                  h5 #{event.attendees.length} people attending
            - else
              .thumbnail.event-list-thumbnail
                a(href='/event/#{event._id}')
                  img(src='/event/#{event._id}/image', alt='', width='260')
                p
                  a(href='/event/#{event._id}') #{event.name}
                h5 #{event.description}
                h5(id='date#{event._id}') No date and time!
                h5 #{event.attendees.length} people attending
    .tab-pane(id='pastEvents')
      ul.thumbnails
        - each event in pastEvents
          - if (event.date)      
            script
              $(function() {
                $('#date#{event._id}').text($.format.date((new Date(#{event.date.valueOf()})), 'dd-MMM-yyyy hh:mm a'));
              });
          li.span3
            - if (everyauth.loggedIn)
              - console.log(everyauth);
              - console.log(everyauth.user);
              - console.log(everyauth.google.user);
              - if (event.host.equals(everyauth.user._id))
                .thumbnail.event-list-thumbnail-host
                  a(href='/event/#{event._id}')
                    img(src='/event/#{event._id}/image', alt='', width='260')
                  p
                    a(href='/event/#{event._id}') #{event.name}
                  h5 #{event.description}
                  h5(id='date#{event._id}') No date and time!
                  h5 #{event.attendees.length} people attending
              - else
                .thumbnail.event-list-thumbnail
                  a(href='/event/#{event._id}')
                    img(src='/event/#{event._id}/image', alt='', width='260')
                  p
                    a(href='/event/#{event._id}') #{event.name}
                  h5 #{event.description}
                  h5(id='date#{event._id}') No date and time!
                  h5 #{event.attendees.length} people attending
            - else
              .thumbnail.event-list-thumbnail
                a(href='/event/#{event._id}')
                  img(src='/event/#{event._id}/image', alt='', width='260')
                p
                  a(href='/event/#{event._id}') #{event.name}
                h5 #{event.description}
                h5(id='date#{event._id}') No date and time!
                h5 #{event.attendees.length} people attending
